* {
  box-sizing: border-box;
}
body,
section,
header,
div,
p,
h1,
h2,
h3,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: #f0f4f8;
  font-weight: 300;
}

/* add styles here */
/* Instruction 3 - Header background Image */
header {
  background-image: url("images/florence.jpg");
  background-size: cover;
  width: 100%;
  min-height: 500px;
}

/* Instructio 4 - adding Logo to the nav */
nav {
  background-image: url("images/logo.png");
  background-size: 60px;
  background-repeat: no-repeat;
  padding: 20px 120px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}

/* Instruction 5 */
nav ul li a:link,
nav ul li a:visited,
nav ul li a:active {
  text-decoration: none;
  color: #51279b;
}

/* Instruction 6 - Aligning div with navigation */
header div {
  margin-top: 80px;
  margin-left: 120px;
  color: #fff;
}

h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

header div p {
  font-size: 24px;
  margin-bottom: 10px;
}

header div a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  background-color: #51279b;
  color: white;
}

/* Instruction 7 */
main {
  padding: 20px;
}
.card {
  display: inline-block;
}

h3 {
  font-size: 14px;
}

.description {
  font-size: 12px;
}

/* Instruction 8 */
span {
  margin-right: 20px;
  font-size: 10px;
  padding-left: 14px;
  padding-bottom: 10px;
}
.heart {
  background-image: url("images/heart.png");
  background-repeat: no-repeat;
  background-size: 10px;
}

.comment {
  background-image: url("images/comment.png");
  background-repeat: no-repeat;
  background-size: 10px;
}
